nav {
  background-color: #ea7773;
}

.brand-logo {
  font-family: "Pacifico", cursive;
}

.carousel-item {
  background-color: whitesmoke;
}

.slider .indicators .indicator-item.active {
  background-color: #ea7773;
}

.loginbtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ea7773;
}
.loginbtn:hover {
  background-color: #ff362e;
}

#about {
  text-align: justify;
  text-justify: inter-word;
}
