nav {
  background-color: #ea7773;
}

.brand-logo {
  font-family: "Pacifico", cursive;
}

.slider .indicators .indicator-item.active {
  background-color: #ea7773;
}

.btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #ea7773;
}
.btn:hover {
  background-color: #ea7773;
}

#about {
  text-align: justify;
  text-justify: inter-word;
}

.icon {
  color: #ea7773;
}
.card-panel {
  background-color: #ea7773;
}

.footer-one {
  background: #ea7773;
}

.footer-two {
  background: #944b48;
  margin-bottom: 0;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #ea7773;
}

.blur {
  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
